header{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
    overflow: hidden;

    #site_title{
        text-align: center;
        color: black;
        a{
            text-decoration: none;
        }
        h1{
            margin-bottom: 0px;
        }
        h2{
            margin-top: 0px;
            font-style: oblique;
            font-size: 1rem;
        }
    }
    #subheader{
        display: block;
        margin-top: 15px;
            .pages{
                display: block;
                text-align: center;
                a:hover{
                    color: black;
                }
                a{
                    text-decoration: none;
                    color: $base;
                    margin-right: 3px;
                    font-size: 1.05rem;
                }
            }
        }
}